<h1>Questions#answer</h1>
<!-- if params contains ?  -->

<p> <%= @answer %></p>
<p>Here is what you asked => <%= @ask %></p>

<!-- <a href="/ask"> Ask another question</a> -->

<%= link_to "Ask another question", ask_path %>

<!-- er = <%  %> -->
<!-- pe =  <%=  %> -->
